---
import { LoginForm } from '../../components/login-form'
import PublicLayout from '../../layouts/public-layout.astro'
---

<PublicLayout>
  <div class="flex flex-col items-center justify-center h-screen">
    <div class="">
      <LoginForm />
    </div>
  </div>
</PublicLayout>
