---
// Import the Button component from your components folder
import { LoginForm } from '../components/login-form'
import '../styles/globals.css'
---

<html lang="en">
  <body class="p-10">
    <LoginForm />
  </body>
</html>
